*.py[cod]
*.venv
*data/
.clineignore
*.DS_Store

# ignore all .env files
.env
.env.*

# except those with defaults/example values
!.env.*.default

/env/
/infrastructure/vars/local.tfvars
__pycache__/
/node_modules/

**/node_modules/
**/dist/
**/coverage/
**/.coverage

# Infra
/infrastructure/**/local.tfvars
/infrastructure/.terraform/

