services:
  api:
    build:
      context: ./api
      dockerfile: Dockerfile
      target: production
    ports:
      - "8000:8000"
    environment:
      - AUTH_TOKEN=${AUTH_TOKEN}
      - TIFF_PATH=${TIFF_PATH}
      - GRID_TILES_PATH=${GRID_TILES_PATH}
    env_file:
      - api/.env
    networks:
      - amazonia360-network
    restart: always

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
      #target: production
      args:
        NEXT_PUBLIC_URL: ${NEXT_PUBLIC_URL:-"http://localhost:3000"}
        NEXT_PUBLIC_WEBSHOT_URL: ${NEXT_PUBLIC_WEBSHOT_URL:-"http://webshot:3003/webshot/api/v1"}
        NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL:-"http://api:8000"}
        NEXT_PUBLIC_ARCGIS_API_KEY: ${NEXT_PUBLIC_ARCGIS_API_KEY:-""}
        NEXT_PUBLIC_API_KEY: ${NEXT_PUBLIC_API_KEY:-""}
        NEXT_PUBLIC_FEATURE_PARTNERS: ${NEXT_PUBLIC_FEATURE_PARTNERS:-""}
        BASIC_AUTH_ENABLED: ${BASIC_AUTH_ENABLED:-"false"}
        BASIC_AUTH_USER: ${BASIC_AUTH_USER:-""}
        BASIC_AUTH_PASSWORD: ${BASIC_AUTH_PASSWORD:-""}
    env_file:
      - client/.env
    ports:
      - "3000:3000"
    networks:
      - amazonia360-network

  webshot:
    platform: linux/amd64
    container_name: amazonia360-webshot
    build:
      context: webshot
      dockerfile: Dockerfile
      target: production
    ports:
      - "${WEBSHOT__PORT:-3003}:3003"
    environment:
      - NODE_ENV=production
      - PORT=3003
    env_file:
      - path: webshot/.env
        required: false
    restart: unless-stopped
    networks:
      - amazonia360-network

  test:
    build:
      context: ./api
      dockerfile: Dockerfile
      target: development
    networks:
      - amazonia360-network

    command: pytest tests
networks:
  amazonia360-network:
    driver: bridge
