services:
  api:
    build:
      context: ./api
      dockerfile: Dockerfile
      target: production
    ports:
      - "8000:8000"
    environment:
      - AUTH_TOKEN=${API__AUTH_TOKEN}
      - TIFF_PATH=${API__TIFF_PATH}
      - GRID_TILES_PATH=${API__GRID_TILES_PATH}
    env_file:
      - path: api/.env
        required: false
    networks:
      - amazonia360-network
    restart: always

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
      #target: production
      args:
        NEXT_PUBLIC_URL: ${CLIENT__NEXT_PUBLIC_URL:-http://localhost:3000}
        NEXT_PUBLIC_WEBSHOT_URL: ${CLIENT__NEXT_PUBLIC_WEBSHOT_URL:-http://webshot:3003/webshot/api/v1}
        NEXT_PUBLIC_API_URL: ${CLIENT__NEXT_PUBLIC_API_URL:-http://api:8000}
        NEXT_PUBLIC_ARCGIS_API_KEY: ${CLIENT__NEXT_PUBLIC_ARCGIS_API_KEY}
        NEXT_PUBLIC_API_KEY: ${CLIENT__NEXT_PUBLIC_API_KEY}
        BASIC_AUTH_ENABLED: ${CLIENT__BASIC_AUTH_ENABLED:-false}
        BASIC_AUTH_USER: ${CLIENT__BASIC_AUTH_USER}
        BASIC_AUTH_PASSWORD: ${CLIENT__BASIC_AUTH_PASSWORD}
        PAYLOAD_SECRET: ${CLIENT__PAYLOAD_SECRET}
        DATABASE_URL: ${CLIENT__DATABASE_URL}
        DATABASE_PASSWORD: ${CLIENT__DATABASE_PASSWORD}
        APP_KEY: ${CLIENT__APP_KEY}
        AUTH_SECRET: ${CLIENT__AUTH_SECRET}
    env_file:
      - path: client/.env
        required: false
    ports:
      - "3000:3000"
    networks:
      - amazonia360-network

  webshot:
    platform: linux/amd64
    container_name: amazonia360-webshot
    build:
      context: webshot
      dockerfile: Dockerfile
      target: production
    ports:
      - "${WEBSHOT__PORT:-3003}:3003"
    environment:
      - NODE_ENV=production
      - PORT=3003
    env_file:
      - path: webshot/.env
        required: false
    restart: unless-stopped
    networks:
      - amazonia360-network

  database:
    platform: linux/amd64
    build:
      context: .
      dockerfile: ./database/Dockerfile
    profiles:
      - development
      - local
      - science
    volumes:
      - amazonia360-db-data:/var/lib/postgresql/data
    ports:
      - "${DATABASE__POSTGRES_SERVICE_PORT:-5432}:5432"
    env_file:
      - path: ./database/.env
        required: true
    networks:
      - amazonia360-network

  test:
    build:
      context: ./api
      dockerfile: Dockerfile
      target: development
    networks:
      - amazonia360-network

    command: pytest tests
networks:
  amazonia360-network:
    driver: bridge
