@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Amazonia */
    /* colors */
    --accent: 200 25% 95%;
    --accent-foreground: 198 100% 22%;
    --background: 0 0 100%;
    --border: 201 24% 84%;
    --card: 0 0 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --foreground: 198 100% 11%;
    --hover-destructive: 0 72% 51%;
    --hover-primary: 198 100% 15%;
    --hover-secondary: 200 29% 67%;
    --input: 201 24% 84%;
    --muted: 200 25% 95%;
    --muted-foreground: 0 1% 23%;
    --popover: 0 0 100%;
    --popover-foreground: 0 0 12%;
    --primary: 198 100% 22%;
    --primary-foreground: 200 25% 95%;
    --ring: 198 100% 22%;
    --secondary: 200 25% 95%;
    --secondary-foreground: 198 100% 15%;
    /* numbers */
    --radius: 0.5rem;
  }

  /* .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  } */
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background font-semibold text-foreground;
  }

  .same-trigger-size {
    width: var(--radix-popover-trigger-width);
    max-height: var(--radix-popover-content-available-height);
  }
}

@layer base {
  .map .esri-widget {
    font-family: var(--montserrat);
  }

  .map .esri-popup--is-docked {
    @apply m-0;
  }

  .map .esri-popup--shadow {
    @apply shadow-lg;
  }

  .map .esri-feature__content-element {
    @apply p-0;
  }

  /*
    TABLE
  */
  .map .esri-widget__table tr {
    @apply pt-1;
  }

  .map .esri-widget__table tr:nth-child(odd) {
    background-color: hsl(var(--background));
  }

  .map .esri-widget__table tr:nth-child(even) {
    background-color: hsl(var(--background));
  }

  .map .esri-widget__table tr th,
  .map .esri-widget__table tr td {
    @apply p-0.5 text-2xs;
  }

  .map .esri-widget__table tr th {
    @apply font-semibold;
  }

  .map .esri-widget__table tr td {
    @apply pl-2;
  }
}

@media print {
  :root {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  .container {
    @apply p-0;
  }
}
